<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/CryptoUni3.png" id="logo" class="d-inline-block align-top" alt="" width="8%" height="8%">
  </a>
  <div class="navbar-nav ml-auto">
    <div *ngIf="isLoggedIn()">
    <button *ngIf="!isAdmin()" type="button" class="btn btn-primary navbar-btn" routerLink="/studiesoverview" style="margin-right: 10px">Stundenplan</button>
    <button type="button" class="btn btn-primary navbar-btn" routerLink="/explore" style="margin-right: 10px" >Entdecken</button>
    <button type="button" class="btn btn-primary navbar-btn" routerLink="/" style="margin-right: 10px" >Speicher</button>
    <button type="button" class="btn btn-primary navbar-btn" routerLink="/" style="margin-right: 10px">Konto</button>
      <button *ngIf="isAdmin()" type="button" class="btn btn-primary navbar-btn" routerLink="/applications" style="margin-right: 10px">Bewerbungen</button>
      <button *ngIf="!isAdmin()" type="button" class="btn btn-primary navbar-btn" routerLink="/applications" style="margin-right: 10px">Bewerbungen</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-right: 10px">Mehr</button>
      <div class="dropdown-menu">
        <span class="dropdown-item" routerLink="/">News</span>
        <span class="dropdown-item" routerLink="/">Mails</span>
      </div>
    </div>
    </div>
    <div *ngIf="isLoggedIn()">
      <a style="color:black;font-size: 24px; font-weight: bold; margin-right: 10px">{{getName()}}</a>
    <button type="button" routerLink="/home" (click)="logout()" class="btn btn-warning navbar-btn">Abmelden</button>
    </div>
    <div *ngIf="!isLoggedIn()">
      <button type="button" routerLink="/login" class="btn btn-warning navbar-btn">Anmelden</button>
    </div>
  </div>
</nav>
