<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo.png" id="logo" class="d-inline-block align-top" alt="" width="30%" height="30%">
  </a>
  <div class="navbar-nav ml-auto">
    <button type="button" class="btn btn-primary navbar-btn" routerLink="/" style="margin-right: 10px">A</button>
    <button type="button" class="btn btn-primary navbar-btn" routerLink="/" style="margin-right: 10px" >B</button>
    <button type="button" class="btn btn-primary navbar-btn" routerLink="/" style="margin-right: 10px">C</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-right: 10px">Mehr</button>
      <div class="dropdown-menu">
        <span class="dropdown-item" routerLink="/">Aasd</span>
        <span class="dropdown-item" routerLink="/">Basd</span>
        <span class="dropdown-item" routerLink="/">Casd</span>
      </div>
    </div>
    <button type="button" routerLink="/login" class="btn btn-warning navbar-btn">Login</button>
  </div>
</nav>
