<div class="card text-left">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/studiesoverview">Offene Module</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/takencourses">Bereits Belegte Module</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/timetable">Stundenplan</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h3>Semester 1</h3>
    <p>IBSYS2</p>
    <p>Mathe 1</p>
    <p>EWI</p>
    <h3>Semester 2</h3>
    <p>Mathe 2</p>
    <h3>Semester 3</h3>
    <p>OR</p>
    <h3>Semester 4</h3>
    <p>SWE</p>
    <h3>Semester 5</h3>
    <p>SWA</p>
    <h3>Semester 6</h3>
    <p>Produktionsorganisation</p>
  </div>

</div>
