<div class="card text-left">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/studiesoverview">Offene Module</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/takencourses">Bereits Belegte Module</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/timetable">Stundenplan</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <h3>Semester 6</h3>
    <p>IBSYS2</p>
    <h3>Semester 7</h3>
    <p>Produktionsorganisation</p>
  </div>

</div>
